@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
body {
  margin: 0;
  padding: 0%; }
  body.dark {
    background-color: #000;
    filter: url(#dark-crimson-sepia); }

header {
  display: flex;
  background-image: url(../img/camibarraheader00.png);
  background-repeat: no-repeat;
  justify-content: space-around;
  align-items: flex-end;
  background-size: cover;
  border-bottom: 5px solid white; }
  body.dark header {
    border-bottom: 5px solid #202020; }

.header-menu {
  display: flex;
  list-style-type: none;
  margin-right: 20px;
  max-width: 992px;
  width: max-content; }
  .header-menu li {
    display: inline-block;
    margin: 5px; }

.navbar {
  background-color: transparent !important;
  display: inline-block;
  margin-right: 20px;
  max-width: 992px;
  width: max-content;
  background-repeat: no-repeat; }
  .navbar a:hover {
    background-color: lavender;
    color: rgba(0, 0, 0, 0.623);
    transition: 0.5s; }

#drop .dark {
  background: #202020; }
  #drop .dark a {
    color: aliceblue; }
    #drop .dark a:hover {
      background-color: gray; }

.logo {
  display: flex;
  align-items: center; }

nav a {
  font-family: sans-serif;
  font-size: 11.5pt;
  color: #fefbff;
  border: darkorchid;
  text-transform: uppercase;
  padding: 8px 12px;
  border-radius: 7px;
  text-decoration: none; }

.switch {
  background: #343d5b;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none; }
  .switch::after {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    background: #f1f1f1;
    top: 0%;
    left: 0%;
    right: unset;
    border-radius: 100px;
    transition: 0.3 ease all;
    box-shadow: 0px 0px 2px 2px, rgba(0, 0, 0, 0.2); }
  .switch.active {
    background: orange;
    color: #000; }
    .switch.active::after {
      right: 0%;
      left: unset; }
  .switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: aliceblue; }

.footer {
  background-color: #e4e4e4;
  margin-top: 15px; }
  .footerfootercontent {
    display: flex;
    padding: 1% 0% 2% 2%;
    column-gap: 15%; }

#redes-icons {
  font-size: 40px; }
  #redes-icons a :hover {
    font-size: 45px;
    transition: 0.3s all;
    transform: scale(1.2);
    column-gap: 40px;
    background-color: #00b7ff;
    padding: 8px 12px;
    border-radius: 7px; }

/*main index*/
main.dark {
  background: black; }

.display, .carrusel, .tarjetas, #videos, #videos iframe {
  display: flex; }

.carrusel {
  max-height: 100%; }

.tarjetas {
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 5px;
  background-color: thistle;
  padding: 5%; }
  .tarjetas.dark {
    background: black; }

.principio {
  width: 35%;
  max-width: 300px;
  min-width: 200px;
  height: 200px;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 4%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 50px;
  color: white;
  background-color: cornflowerblue; }

#blog {
  padding: 5px 0px 2px 5px; }

#videos {
  overflow-y: auto;
  width: 100%;
  height: 275px;
  justify-content: space-evenly;
  flex-direction: row;
  margin-bottom: 5px;
  padding: 10px; }
  body.dark #videos {
    background-color: black; }
  #videos iframe {
    width: 100%;
    overflow-y: auto;
    object-fit: cover;
    margin-right: 5px;
    border-radius: 10px;
    width: 240px;
    height: 250px; }
  #videos :hover {
    transform: scale(1.1, 1.1);
    position: relative; }

#bot {
  display: grid;
  width: 100%;
  height: 40px;
  grid-area: boton;
  justify-self: center;
  align-self: center;
  background-color: cornflowerblue;
  margin-bottom: 10px; }

.boton {
  background: none;
  border: none;
  justify-self: center;
  align-self: auto; }
  .boton a {
    font-family: sans-serif;
    font-size: 12pt;
    color: ivory;
    align-self: inherit; }
  .boton:hover {
    background: -webkit-linear-gradient(-45deg, #00000000 10%, #111a5e 20%, #1e539e 35%, #f15f99 60%, #7800a8 80%, #00000000 90%);
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.5s all;
    border-radius: 7px;
    padding: 7.5px 42%; }

#cursospopulares {
  margin-top: 0%;
  margin-bottom: 10px;
  width: 100%;
  justify-content: center;
  align-content: center;
  border: none;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s all; }
  #cursospopulares:hover {
    transform: scale(1.02);
    border-radius: 15px; }

.imgtopcursos {
  width: 100%;
  height: 100%; }

/*main cursos*/
#botonescursos {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr; }
  #botonescursos button:hover {
    width: 70%;
    transform: scale(1.1, 1.1);
    border-radius: 15px;
    box-shadow: black;
    justify-self: center;
    align-self: center; }

.botonesclases img {
  width: 100%;
  background-color: transparent !important;
  border: none; }

.testimoniosslider {
  background-image: url(../img/degrade2.jpg);
  background-size: cover;
  height: 550px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px; }

.testimonios {
  max-width: 1000px;
  min-width: 400px;
  height: 400px;
  width: 600px;
  margin: auto;
  position: relative;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  object-fit: cover;
  border-radius: 10px;
  text-align: center;
  padding: 30px;
  overflow: hidden;
  justify-content: center;
  align-items: center; }

.tituloplaca {
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 100;
  justify-content: center;
  color: #111a5e;
  margin-top: 10px;
  margin-bottom: 15px;
  text-transform: uppercase; }

.placas {
  position: relative;
  width: 100%;
  height: 100%; }

.placa {
  position: absolute;
  margin: 10px;
  padding: 20px;
  padding-top: 7%;
  background: #d15c8b;
  object-fit: cover;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 220px;
  border-radius: 14px;
  overflow: hidden;
  left: 0%;
  right: 0%;
  margin: auto;
  cursor: pointer;
  transition: transform 0.1s; }

.infoplaca {
  width: 95%;
  font-family: sans-serif;
  color: #111a5e;
  justify-items: center;
  align-items: center;
  list-style: none; }
  .infoplaca h2 {
    size: 8px; }
  .infoplaca p {
    size: 40px;
    text-transform: uppercase; }

#testimonio2:checked ~ .placas #select1,
#testimonio1:checked ~ .placas #select3,
#testimonio3:checked ~ .placas #select2 {
  animation: placaslider 20s infinite alternate;
  opacity: 0.5;
  z-index: 0; }

#testimonio3:checked ~ .placas #select1,
#testimonio1:checked ~ .placas #select2,
#testimonio2:checked ~ .placas #select3 {
  animation: placaslider 20s infinite alternate;
  opacity: 0.5;
  z-index: 0; }

#testimonio1:checked ~ .placas #select1,
#testimonio2:checked ~ .placas #select2,
#testimonio3:checked ~ .placas #select3 {
  animation: placaslider 20s infinite alternate;
  z-index: 1; }

/*main iniciar sesion*/
#form legend {
  color: aliceblue;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px; }

.control {
  width: 98%;
  background: rgba(229, 185, 250, 0.808);
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px; }

.btnsesion {
  height: 40px;
  width: 40%;
  background-color: rgba(221, 171, 233, 0.952);
  font-size: 15px;
  color: black;
  border-radius: 7px;
  margin: auto;
  border: none; }

.recordar {
  display: inline-block;
  font-size: 14px;
  padding: 0%; }

#form .checkbox1 {
  size: 2%;
  padding: 0; }

.suscrib a {
  color: aliceblue; }
  .suscrib a:hover {
    color: darkorchid;
    text-decoration: underline;
    transition: 300ms; }

.registrar {
  margin-top: 5px; }
  .registrar a {
    color: aliceblue; }
    .registrar a:hover {
      color: darkorchid;
      text-decoration: underline;
      transition: 300ms; }

#plataforma {
  background-color: #f0a59b;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 5%; }

.textbienvenida {
  color: aliceblue;
  width: 65%;
  justify-content: center;
  margin: auto;
  padding-top: 10%; }

.control2 {
  padding-bottom: 25px; }

#videollamada {
  height: 60px;
  width: 90%;
  background: #170549;
  border: none;
  justify-self: center;
  border-radius: 5px;
  color: #d6b936; }
  #videollamada:hover {
    background: #d6b936;
    cursor: pointer;
    transition: 300ms;
    border-radius: 5px;
    color: #170549; }

/*main sobremi*/
#sobremi {
  background-color: thistle;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 7%;
  padding-bottom: 7%;
  height: 100%; }

.presentacion {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
  flex-wrap: wrap;
  column-gap: 5%; }

.hola {
  justify-content: space-between;
  width: 500px;
  height: 70%; }

.conteiner__card {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  top: 10%;
  left: 40%;
  transform: translate(-50%, -50%); }

.sobremi1 {
  width: 100%; }

.card {
  width: 500px;
  margin: 10px;
  padding: 20px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  object-fit: cover; }

.cover__card {
  width: 100%;
  height: 250px;
  border-radius: 14px;
  overflow: hidden; }
  .cover__card img {
    width: 100%;
    height: 90%; }

.infoacademica {
  margin-top: 5px; }

/*main staff*/
#fondodegrade {
  background-image: url(../img/degrade1.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 700px; }

.containerslider {
  max-width: 1000px;
  height: 700px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px; }

.container1 {
  width: 100%;
  height: 100%;
  width: 800px;
  height: 600px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center; }
  .container1 input {
    display: none; }

.tarjetones {
  position: relative;
  width: 100%;
  height: 100%; }

.tarjeton {
  position: absolute;
  margin: 10px;
  padding: 20px;
  background-image: url(../img/degrade4.jpg);
  background-size: cover;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  object-fit: cover;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 580px;
  border-radius: 14px;
  overflow: hidden;
  left: 0%;
  right: 0%;
  margin: auto;
  cursor: pointer;
  transition: transform 0.1s; }
  .tarjeton img {
    width: 100%;
    height: 70%; }

.infoacademica2 {
  width: 500px;
  margin-top: 20px;
  font-family: sans-serif;
  color: #111a5e; }
  .infoacademica2 p {
    margin-top: 10px;
    size: 15px;
    text-transform: uppercase; }

#item2:checked ~ .tarjetones #selector1,
#item1:checked ~ .tarjetones #selector5,
#item5:checked ~ .tarjetones #selector4,
#item4:checked ~ .tarjetones #selector3,
#item3:checked ~ .tarjetones #selector2 {
  transform: translateX(-40%) scale(0.7);
  opacity: 0.5;
  z-index: 0; }

#item5:checked ~ .tarjetones #selector1,
#item1:checked ~ .tarjetones #selector2,
#item2:checked ~ .tarjetones #selector3,
#item3:checked ~ .tarjetones #selector4,
#item4:checked ~ .tarjetones #selector5 {
  transform: translateX(40%) scale(0.7);
  opacity: 0.5;
  z-index: 0; }

#item1:checked ~ .tarjetones #selector1,
#item2:checked ~ .tarjetones #selector2,
#item3:checked ~ .tarjetones #selector3,
#item4:checked ~ .tarjetones #selector4,
#item5:checked ~ .tarjetones #selector5 {
  transform: translateX(0) scale(1);
  z-index: 1; }

/*main contacto*/
#contacto {
  background-image: url(../img/imgcomentario.webp);
  background-size: 100%;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding-top: 4%;
  padding-bottom: 7%;
  background-repeat: no-repeat; }

.formulariodecontacto {
  width: 450px;
  height: 500px;
  margin: auto;
  background-color: rgba(204, 111, 247, 0.664);
  padding: 30px 20px 30px 40px;
  box-sizing: border-box;
  border-radius: 7px;
  font-family: sans-serif; }

.consulta {
  color: #570a7a;
  font-size: 25px;
  padding-bottom: 20px; }

.control1 {
  width: 350px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.856);
  margin: auto;
  margin-top: 5px;
  margin-bottom: 10px; }

#submit {
  height: 40px;
  width: 90%;
  background: #9046b3;
  border: none;
  justify-self: center;
  border-radius: 5px;
  color: aliceblue; }
  #submit:hover {
    background: rgba(255, 255, 255, 0.856);
    cursor: pointer;
    transition: 300ms;
    border-radius: 5px;
    color: #9046b3; }

.acuerdo {
  display: inline-block;
  font-size: 14px;
  color: #570a7a; }
  .acuerdo a {
    color: #570a7a; }
  .acuerdo :hover {
    color: #f8eaff;
    text-decoration: underline;
    transition: 300ms; }

@media only screen and (max-width: 900px) {
  body {
    margin: 0px;
    padding: 0px; }
  /*header*/
  .header-menu {
    flex-direction: column;
    align-items: center;
    background-color: #8974b1;
    position: fixed;
    left: 0;
    top: 120px;
    width: 100%;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    padding: 20px 0;
    overflow-y: auto; }
    .header-menu li a :hover {
      transform: scale(1); }
  nav a:hover {
    background-color: lavender;
    padding: 5px;
    color: rgba(0, 0, 0, 0.623); }
  .iconomenu {
    background: none;
    cursor: pointer;
    border: none;
    font-size: 10px;
    padding: 0px 0px 30px 60%;
    line-height: 60px;
    display: block; }
  /*inicio*/
  .carrusel {
    width: 100%;
    height: 100%; }
  .tarjetas {
    flex-direction: column; }
  .principio {
    padding-top: 20%; }
  #blog {
    padding-left: 0%;
    justify-content: center;
    align-content: center; }
  #videos {
    height: 180px; }
    #videos iframe {
      width: 160px;
      height: 140px; }
  #bot {
    margin-right: 7%;
    justify-self: center;
    align-self: center; }
  .boton:hover {
    padding: 8px 40%; }
  #cursospopulares {
    display: flex;
    width: 100%;
    margin-top: 2%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 0%;
    justify-content: center;
    align-content: center;
    background: none; }
  /*cursos*/
  #botonescursos {
    margin-top: 0px;
    margin-bottom: 5px; }
  /*testimonios*/
  .testimoniosslider {
    height: 450px;
    padding-top: 10px;
    padding-bottom: 10px; }
  .testimonios {
    height: 400px;
    width: 400px; }
  /*inciosesion*/
  .grillaform1 {
    display: flex;
    background-image: url(../img/clases-online-como-profesor-de-espanol-768x512.jpg.webp);
    background-size: 100%;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-top: 4%;
    padding-bottom: 7%;
    background-repeat: no-repeat; }
  #imgformmobile {
    display: none; }
  #iniciarsesion form {
    background-color: rgba(85, 173, 255, 0.26);
    width: 90%;
    padding: 5%;
    margin: 5%;
    border-radius: 10px; }
  .textbienvenida {
    padding-top: 0; }
  .control2 {
    padding-bottom: 15px; }
  /*main sobremi*/
  .card {
    width: 390px; }
  /*main staff*/
  #fondodegrade {
    height: 600px; }
  .containerslider {
    width: 90%; }
  .container1 {
    width: 90%;
    height: 90%; }
  .tarjeton {
    width: 75%;
    height: 400px; }
    .tarjeton img {
      width: 100%;
      height: 50%; }
  .infoacademica2 {
    width: 300px;
    margin-top: 20px;
    margin-right: 10px; }
    .infoacademica2 h2 {
      size: 10px;
      width: 200px; }
    .infoacademica2 p {
      margin-top: 10px;
      margin-right: 10px;
      size: 10px;
      width: 200px; }
  /*main contacto*/
  .formulariodecontacto {
    width: 380px; }
  .form2 {
    width: 350px;
    height: 500px;
    margin: auto; }
  .control1 {
    width: 300px; }
  #subirarchivo {
    width: 310px; }
  /*footer*/
  .footercontent {
    padding-right: 30%;
    padding-top: 20%;
    margin-right: 30%;
    padding-bottom: 0; }
  .redessociales li {
    flex-direction: row;
    margin-left: 60%; }
  .footer h5 {
    margin-top: 25%; } }

@media (min-width: 900px) {
  /*iniciosesion*/
  .grillaform1 {
    display: grid;
    grid-template-columns: 60% 37%;
    grid-template-rows: 600px;
    grid-template-areas: "foto1 iniciarsesion";
    justify-content: space-evenly;
    padding-bottom: 5px;
    object-fit: cover; }
  .grilladeusuario {
    display: grid;
    grid-template-columns: 47% 47%;
    grid-template-rows: 700px;
    grid-template-areas: "foto1 iniciarsesion";
    justify-content: space-evenly;
    column-gap: 20px;
    padding-bottom: 5px;
    object-fit: cover; }
  #imggrilla {
    background-image: url(../img/imgform3c.JPG);
    background-repeat: no-repeat;
    display: grid;
    grid-area: iniciarsesion;
    width: 98%;
    height: 100%;
    justify-self: center;
    align-self: center;
    object-fit: cover;
    border-radius: 10px; }
  .imgform {
    display: grid;
    grid-area: foto1;
    width: 100%;
    height: 100%;
    justify-self: center;
    align-self: center;
    object-fit: cover; }
  #iniciarsesion form {
    display: grid;
    grid-area: iniciarsesion;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: #6494ed;
    padding: 15px 15px;
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 20px;
    border-radius: 7px;
    font-family: sans-serif;
    color: aliceblue;
    justify-self: center;
    align-self: center; } }

.recordar {
  color: aliceblue; }

.registrar {
  color: aliceblue;
  margin-top: 15px; }

.suscrib {
  color: aliceblue; }
