body {
  margin: 0;
  padding: 0%;

  &.dark {
    background-color: #000;
    filter: url(#dark-crimson-sepia);
  }
}

header {
  display: flex;
  background-image: url(../img/camibarraheader00.png);
  background-repeat: no-repeat;
  justify-content: space-around;
  align-items: flex-end;
  background-size: cover;
  border-bottom: 5px solid white;

  body.dark & {
    border-bottom: 5px solid rgb(32, 32, 32);
  }
}

.header-menu {
  display: flex;
  list-style-type: none;
  margin-right: 20px;
  max-width: 992px;
  width: max-content;

  li {
    display: inline-block;
    margin: 5px;
  }
}

.navbar {
  background-color: transparent !important;
  display: inline-block;

  margin-right: 20px;
  max-width: 992px;
  width: max-content;

  background-repeat: no-repeat;

  a:hover {
    background-color: lavender;
    color: rgba(0, 0, 0, 0.623);
    transition: 0.5s;
  }
}

#drop {
  & .dark {
    background: rgb(32, 32, 32);
    a {
      color: aliceblue;
      &:hover {
        background-color: gray;
      }
    }
  }
}

.logo {
  display: flex;
  align-items: center;
}

nav {
  a {
    font-family: sans-serif;
    font-size: 11.5pt;
    color: rgb(254, 251, 255);
    border: darkorchid;
    text-transform: uppercase;
    padding: 8px 12px;
    border-radius: 7px;
    text-decoration: none;
  }
}

.switch {
  background: #343d5b;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;

  &::after {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    background: #f1f1f1;
    top: 0%;
    left: 0%;
    right: unset;
    border-radius: 100px;
    transition: 0.3 ease all;
    box-shadow: 0px 0px 2px 2px, rgba(0, 0, 0, 0.2);
  }
  &.active {
    background: orange;
    color: #000;

    &::after {
      right: 0%;
      left: unset;
    }
  }

  span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: aliceblue;
  }
}

.footer {
  background-color: rgb(228, 228, 228);
  margin-top: 15px;

  &footercontent {
    display: flex;
    padding: 1% 0% 2% 2%;
    column-gap: 15%;
  }
}

#redes-icons {
  font-size: 40px;

  a :hover {
    font-size: 45px;
    transition: 0.3s all;
    transform: scale(1.2);
    column-gap: 40px;
    background-color: rgb(0, 183, 255);
    padding: 8px 12px;
    border-radius: 7px;
  }
}
